.u-section-1 {
  background-image: linear-gradient(#e4b5f1, #a054db);
}

.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-group-1 {
  width: 655px;
  min-height: 415px;
  background-image: none;
  margin: 80px auto 56px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 145px;
  width: 534px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}